<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Login Form</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>

</head>

<body>
<ul style="position:relative; top:0; right:0;">
		<li><a class="active" href="#home">Home</a></li>
		<li><a href="#news">News</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#about">About</a></li>
		</ul>
{% block content %}

{% endblock %}
  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="{{url_for('static',filename='js/index.js')}}"></script>

</body>

</html>